<section class="link-url">
  <div class="container">
      <div class="link-url-content">
          <div class="menu-not-home">
              
          </div>
          <div class="breadcrumb">
              <ol  itemscope itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                      <a itemtype="http://schema.org/Thing" itemprop="item" href="index.html">
                        <span itemprop="name">Trang chủ</span>
                      </a> <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                      <meta itemprop="position" content="1">
                  </li>
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                      <a itemtype="http://schema.org/Thing" href="gi%c6%a1i-thieu.html" itemprop="item">
                          <span itemprop="name">Giới thiệu</span>
                      </a>
                      <meta itemprop="position" content="2" />
                  </li>
              </ol>
          </div>
      </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="page-all-ct">
  <div class="container">
      <h1 class="title-page-all">Giới thiệu</h1>
      <div class="content-page-all nd"><div><strong>Tên công ty:</strong> Công ty TNHH Máy Tính Nguyễn Công</div>
<div><strong>Tên giao dịch viết tắt:</strong> NC COTE CO.,LTD</div>
<div><strong>Trụ sở chính: </strong>Số 377 - 379 Trương Định, Tân Mai, Hoàng Mai, Hà Nội</div>
<div><strong>Lĩnh vực hoạt động kinh doanh</strong>: Cung cấp Máy tính chuyên đồ họa, Máy tính gaming và Linh kiện máy tính.</div>
<div> </div>
<div><strong>Giới thiệu chung về Nguyễn Công PC</strong></div>
<div><em>Nguyễn Công PC đã trải qua nhiều năm hoạt động và có được những bước phát triển mạnh mẽ với phương châm phục vụ khách hàng tận tụy, luôn lấy khách hàng là trung tâm. Chúng tôi đã từng bước khẳng định sự tín nhiệm trong lòng khách hàng, trở thành một công ty cung cấp các loại server, workstation dùng cho render, đồ họa, Youtube, gaming, các sản phẩm pc đồng bộ cho doanh nghiệp...đáng tín cậy. Hiện nay, Nguyễn Công PC là đối tác lớn của các tập đoàn công nghệ như: Intel, Asus, MSI, Asrock, AMD, NDIVIA, Gigabyte... Với quy trình hoạt động chuyên nghiệp trên địa bàn Hà Nội và toàn quốc.</em></div>
<div><strong>Sứ mệnh của công ty</strong></div>
<div>- Trở thành những người bạn đồng hành tin cậy, tiếp bước thành công của khách hàng, luôn phát triển mạnh mẽ và vững vàng để mang lại cho khách hàng những sản phẩm chất lượng và dịch vụ tối ưu.</div>
<div>- Xây dựng Nguyễn Công PC trở thành một môi trường làm việc chuyên nghiệp nơi mà mọi cá nhân phát huy tối đa sức sáng tạo, năng lực của bản thân.</div>
<div>- Xây dựng Nguyễn Công PC trở thành ngôi nhà chung cho mọi cán bộ nhân viên cùng nhau phát triên, chia sẻ quyền lợi, trách nhiệm và nghĩa vụ công bằng, minh bạch nhất.</div>
<div><strong>Tầm nhìn</strong></div>
<div><span lang="X-NONE">Khát vọng mở rộng, vươn xa, chinh phục khách hàng, mong muốn tối đa hóa lợi ích khách hàng đã thúc đẩy Công ty TNHH Máy Tính Nguyễn Công</span><span lang="X-NONE"> luôn nỗ lực hết mình</span>, phấn đấu trở thành công ty quy mô và chuyên nghiệp trong lĩnh vực máy tính cung cấp: Server Workstation đồ họa chuyên nghiệp... và các công nghệ mới.</div></div>
  </div>
</section>