<div class="ps-page ps-page--about">
    <div class="ps-about-intro">
      <div class="ps-section__left">
        <div class="ps-section__content">
          <h5>About us</h5>
          <h3>Supro is the modern luxury shopping destination</h3>
          <p>We started in 2006 and haven’t stopped smashing it since. A global brand that doesn’t sleep, we are 24/7 and always bringing something new with over 100 new products dropping on the monhtly, bringing you the latest looks for less.</p>
        </div>
      </div>
      <div class="ps-section__right"><img src="/page/img/pages/about-intro.jpg" alt=""></div>
    </div>
    <div class="ps-about-quote">
      <div class="container ps-section__container">
        <div class="ps-section__left"><img src="/page/img/pages/about-quote.jpg" alt=""></div>
        <div class="ps-section__right">
          <blockquote>
            <p>Supro recognises individuality. We see you. We embrace it. We make fashion accessible and fun</p>
          </blockquote>
          <figure><small>CARINE ROITFELD</small>
            <h4>Co-Founder</h4>
            <p>From over 4 million fans on social and an online magazine, we’re the dress you need at the weekend, and the LOL moments you need when you’re down.</p>
          </figure>
        </div>
      </div>
    </div>
    <div class="ps-about-moments">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
            <div class="ps-section__header">
              <h3>Supro Big Moments</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                <figure>
                  <figcaption>2006</figcaption>
                  <p>Supro was born</p>
                </figure>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                <figure>
                  <figcaption>2009</figcaption>
                  <p>We went international, lauching in Lodon and the US.</p>
                </figure>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                <figure>
                  <figcaption>2012</figcaption>
                  <p>We hit 1 mil followers on Facebook Opened Sydney office</p>
                </figure>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                <figure>
                  <figcaption>2015</figcaption>
                  <p>1000+ employees and we launched Supro Premium</p>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-about-video">
      <div class="container">
        <div class="ps-section__header bg--cover" data-background="/page/img/pages/about-video.jpg">
          <figure>
            <p>Work hard, have fun</p>
            <h3>NO DRAMA</h3><a href="#"><img src="/page/img/pages/play-icon.png" alt=""></a>
          </figure>
        </div>
        <div class="ps-section__content">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-location"></i>
                <figure>
                  <figcaption>Free Shipping</figcaption>
                  <p>Orders over $100</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-refresh"></i>
                <figure>
                  <figcaption>Free Return</figcaption>
                  <p>Withthin 30 Days</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-lock"></i>
                <figure>
                  <figcaption>100% SECURE</figcaption>
                  <p>Online Shopping</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <div class="ps-block--box-icon"><i class="icon-tag"></i>
                <figure>
                  <figcaption>Best Price</figcaption>
                  <p>Guaranteed</p>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-section__footer">
          <h4>Using technology to inspire and innovate, we aim to make shopping seamless, whether online or in store</h4>
          <div class="row">
            <div class="col-lg-6">
              <p>With over 12 years’ heritage in luxury fashion, we deliver to over 170 countries and offer 24/7 advice through MyStylist, our dedicated fashion-concierge team</p>
            </div>
            <div class="col-lg-6">
              <p>Choose how you want to experience us – online, in our London stores, at No.23, our private-shopping townhouse, or at one of our international events.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-about-leadership">
      <div class="container">
        <div class="ps-section__header">
          <h3>Leadership Members</h3>
        </div>
        <div class="ps-section__content">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <div class="ps-block--leadership"><img src="/page/img/pages/member-1.jpg" alt="">
                <figure>
                  <figcaption>Christine McKenazie</figcaption>
                  <p>FOUNDER</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <div class="ps-block--leadership"><img src="/page/img/pages/member-2.jpg" alt="">
                <figure>
                  <figcaption>Lora Davidson</figcaption>
                  <p>SALE MANAGER</p>
                </figure>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <div class="ps-block--leadership"><img src="/page/img/pages/member-3.jpg" alt="">
                <figure>
                  <figcaption>Wayne Swanson</figcaption>
                  <p>LEAD DESIGNER</p>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-site-partners">
      <div class="container">
        <div class="ps-section__content"><a href="#"><img src="/page/img/pages/partner-1.png" alt=""></a><a href="#"><img src="/page/img/pages/partner-2.png" alt=""></a><a href="#"><img src="/page/img/pages/partner-3.png" alt=""></a><a href="#"><img src="/page/img/pages/partner-4.png" alt=""></a><a href="#"><img src="/page/img/pages/partner-5.png" alt=""></a><a href="#"><img src="/page/img/pages/partner-6.png" alt=""></a></div>
      </div>
    </div>
    <div class="ps-footer--2 ps-footer--instagram">
      <div class="container">
        <div class="ps-footer__content">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <aside class="widget widget_footer widget_align-right">
                <h3 class="widget-title">Help & Information</h3>
                <ul class="ps-list--line">
                  <li><a href="#">Track Order</a></li>
                  <li><a href="#">Delivery & Returns</a></li>
                  <li><a href="#">Premier Delivery</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <aside class="widget widget_footer widget_align-right">
                <h3 class="widget-title">About Supro</h3>
                <ul class="ps-list--line">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Coporate</a></li>
                  <li><a href="#">Investors</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <aside class="widget widget_footer widget_align-right">
                <h3 class="widget-title">Online Shop</h3>
                <ul class="ps-list--line">
                  <li><a href="#">Shoes</a></li>
                  <li><a href="#">Bags</a></li>
                  <li><a href="#">Wallets</a></li>
                  <li><a href="#">Belts</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <aside class="widget widget_footer widget_align-right">
                <h3 class="widget-title">Language</h3>
                <select class="ps-select">
                  <option value="1">English</option>
                  <option value="2">Italian</option>
                  <option value="3">Germany</option>
                  <option value="4">French</option>
                </select>
              </aside>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
              <aside class="widget widget_footer widget_align-right">
                <h3 class="widget-title">Currency</h3>
                <select class="ps-select">
                  <option value="1">USD</option>
                  <option value="2">GBP</option>
                </select>
              </aside>
            </div>
          </div>
        </div>
      </div>