<div class="ps-page--default ps-page--blog">
  <section class="link-url">
    <div class="container">
        <div class="link-url-content">
            <div class="menu-not-home">
                
            </div>
            <div class="breadcrumb">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemtype="http://schema.org/Thing" itemprop="item" href="/">
                          <span itemprop="name">Trang chủ</span>
                        </a> <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemtype="http://schema.org/Thing" href="/tin-tuc" itemprop="item">
                            <span itemprop="name">Tin tức</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="box-article-home">
    <div class="container">
        <div class="box-hot-news news-new" id="js-box-article-new">
            <div class="row">
                <div class="col-md-9">
                    <div class="hot-news-left" id="js-hot-news-left">
<div class="item">
    <div class="n-container">
        <a href="/mua-pc-ngay-nhan-qua-lien-tay" class="n-img"><img src="/media/news/1077-mua-pc-ngay-nhan-qua-lien-tay.jpg" alt="MUA PC NGAY NHẬN QUÀ LIỀN TAY"></a>
        <div class="n-info">
            <a href="/mua-pc-ngay-nhan-qua-lien-tay" class="n-name"><p class="line-clamp-2">MUA PC NGAY NHẬN QUÀ LIỀN TAY</p></a>
            <span class="n-time">03-03-2022, 4:32 pm</span>
        </div>
    </div>
</div>
</div>
                </div>
                <div class="col-md-3">
                    <div class="hot-news-right">
                        <div class="title">
                          <h3><span class="txt">Bài viết mới nhất</span></h3>
                        </div>
                        <div class="list" id="js-hot-news-right">
<div class="item">
    <div class="n-container">
        <a href="/xa-lo-khai-xuan-ngap-tran-deal-shock" class="n-img"><img src="/media/news/1053-x----l----khai-xu--n-file-1.jpg" alt="XẢ LỖ KHAI XUÂN - NGẬP TRÀN DEAL SHOCK "></a>
        <div class="n-info">
            <a href="/xa-lo-khai-xuan-ngap-tran-deal-shock" class="n-name"><p class="line-clamp-2">XẢ LỖ KHAI XUÂN - NGẬP TRÀN DEAL SHOCK </p></a>
            <span class="n-time">08-02-2022, 4:26 pm</span>
        </div>
    </div>
</div>

<div class="item">
    <div class="n-container">
        <a href="/top-vga-dao-coin-tot-nhat-2021" class="n-img"><img src="/media/news/1051-geforce-rtx-3090.png" alt="Top VGA đào coin tốt nhất 2021"></a>
        <div class="n-info">
            <a href="/top-vga-dao-coin-tot-nhat-2021" class="n-name"><p class="line-clamp-2">Top VGA đào coin tốt nhất 2021</p></a>
            <span class="n-time">03-01-2022, 11:08 am</span>
        </div>
    </div>
</div>

<div class="item">
    <div class="n-container">
        <a href="/don-giang-sinh-rinh-qua-khung-cung-amd" class="n-img"><img src="/media/news/1038-26b325a1889842c61b89.jpg" alt="ĐÓN GIÁNG SINH - RINH QUÀ KHỦNG CÙNG AMD"></a>
        <div class="n-info">
            <a href="/don-giang-sinh-rinh-qua-khung-cung-amd" class="n-name"><p class="line-clamp-2">ĐÓN GIÁNG SINH - RINH QUÀ KHỦNG CÙNG AMD</p></a>
            <span class="n-time">24-12-2021, 2:31 pm</span>
        </div>
    </div>
</div>
</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
      	<div class="box-artile-video">
            <h2 class="title-ar">NGUYỄN CÔNG PC <span>YOUTUBE CHANNEL</span></h2>
            <div class="article-list">
                <!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=Ebr5gK-AWdE" class="n-img"><img class="lazy loaded" data-src="https://i.ytimg.com/vi/Ebr5gK-AWdE/hq720.jpg" alt="Sỡ hữu ngay PC GAMING giá chỉ 21 TRIỆU có ngay 16GB RAM và RTX 3060" src="https://i.ytimg.com/vi/Ebr5gK-AWdE/hq720.jpg" data-was-processed="true"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=Ebr5gK-AWdE" class="n-name"><h3 class="line-clamp-2">Sỡ hữu ngay PC GAMING giá chỉ 21 TRIỆU có ngay 16GB RAM và RTX 3060</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->

<!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=CkDKX3BWHqA" class="n-img"><img class="lazy loaded" data-src="https://i.ytimg.com/vi/CkDKX3BWHqA/hq720.jpg" alt="PC 60 Triệu Full AMD làm được những gì" src="https://i.ytimg.com/vi/CkDKX3BWHqA/hq720.jpg" data-was-processed="true"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=CkDKX3BWHqA" class="n-name"><h3 class="line-clamp-2">PC 60 Triệu Full AMD làm được những gì</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->

<!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=WrN2L7cf8ao" class="n-img"><img class="lazy loaded" data-src="https://i.ytimg.com/vi/WrN2L7cf8ao/hq720.jpg" alt="Unbox cả lò RTX 3080Ti hiệu năng gaming ấn tượng giá từ 34 triệu" src="https://i.ytimg.com/vi/WrN2L7cf8ao/hq720.jpg" data-was-processed="true"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=WrN2L7cf8ao" class="n-name"><h3 class="line-clamp-2">Unbox cả lò RTX 3080Ti hiệu năng gaming ấn tượng giá từ 34 triệu</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->

<!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=6WVjVRFsWYM" class="n-img"><img class="lazy loaded" data-src="https://i.ytimg.com/vi/6WVjVRFsWYM/hq720.jpg" alt="OVERCLOCKING LN2 i7 11700K TRÊN BO MẠCH CHỦ Z590 TACHYON" src="https://i.ytimg.com/vi/6WVjVRFsWYM/hq720.jpg" data-was-processed="true"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=6WVjVRFsWYM" class="n-name"><h3 class="line-clamp-2">OVERCLOCKING LN2 i7 11700K TRÊN BO MẠCH CHỦ Z590 TACHYON</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->

<!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=ib07I_2mcUw" class="n-img"><img class="lazy" data-src="https://i.ytimg.com/vi/ib07I_2mcUw/hq720.jpg" alt="QUÁ KHỦNG với bộ PC 500 TRIỆU có những gì?"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=ib07I_2mcUw" class="n-name"><h3 class="line-clamp-2">QUÁ KHỦNG với bộ PC 500 TRIỆU có những gì?</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->

<!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=gcGOgbuz3qo" class="n-img"><img class="lazy" data-src="https://i.ytimg.com/vi/gcGOgbuz3qo/hq720.jpg" alt="Cpu intel 11 không đủ sức vả AMD 5900X ??? Hé lộ kèo ép xung 11900k"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=gcGOgbuz3qo" class="n-name"><h3 class="line-clamp-2">Cpu intel 11 không đủ sức vả AMD 5900X ??? Hé lộ kèo ép xung 11900k</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->

<!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=EG7krPOrQyU" class="n-img"><img class="lazy" data-src="https://i.ytimg.com/vi/EG7krPOrQyU/hq720.jpg" alt="Sắm Dàn Máy Tính Khủng 45 Triệu Cho Mao Đệ Làm Streamer"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=EG7krPOrQyU" class="n-name"><h3 class="line-clamp-2">Sắm Dàn Máy Tính Khủng 45 Triệu Cho Mao Đệ Làm Streamer</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->

<!-- start copy -->
<div class="item">
    <div class="n-container">
        <a data-fancybox="" href="https://www.youtube.com/watch?v=BL8GXocQSlU" class="n-img"><img class="lazy" data-src="https://i.ytimg.com/vi/BL8GXocQSlU/hq720.jpg" alt="Cận Cảnh Dàn Máy Tính 300 Triệu Siêu Khủng Của Food Travel Khoa Pug Để Edit Video Và Đào Bitcoin"></a>
        <div class="n-info">
            <a href="https://www.youtube.com/watch?v=BL8GXocQSlU" class="n-name"><h3 class="line-clamp-2">Cận Cảnh Dàn Máy Tính 300 Triệu Siêu Khủng Của Food Travel Khoa Pug Để Edit Video Và 'Đào Bitcoin'!</h3></a>
        </div>
    </div>
</div>
<!-- end copy -->
            </div>
        </div>
        <div class="clearfix"></div>
      	<div class="box-artice-review-product">
            <h3 class="title-ar">Review <span>sản phẩm</span></h3>
            <div class="article-list" id="js-box-artice-review-product-list"><div class="owl-carousel style-owl-nav owl-loaded owl-drag"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3600px, 0px, 0px); transition: all 0s ease 0s; width: 13200px;"><div class="owl-item cloned" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/tu-van-mua-pc-cho-mua-nhap-hoc-back-to-school-2022"><span class="n-name"><span>Tư vấn mua PC cho mùa nhập học - Back to school 2022</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1067-74352082_2413083582343533_7750095961090686976_n.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/bai-tong-ket-danh-gia-ve-loat-cpu-intel-core-the-he-thu-12-cua-intel"><span class="n-name"><span>Đánh giá hiệu năng làm việc của INTEL 12TH - 10NM THỂ HIỆN SỨC MẠNH</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1061-pic_disp-php.jpeg);"></span></span></a></div></div></div></div><div class="owl-item cloned" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/dell-u2422h-co-that-su-xung-dang-voi-gia-7-trieu-dong"><span class="n-name"><span>Dell U2422H có thật sự xứng đáng với giá 7 triệu đồng </span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1057-m--n-h--nh-dell.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/danh-gia-chi-tiet-amd-radeon-pro-w6600"><span class="n-name"><span>Đánh giá chi tiết AMD RADEON PRO W6600</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1046-pasted-image-0.png);"></span></span></a></div></div></div></div><div class="owl-item cloned" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/bo-doi-giup-nhung-nha-sang-tao-lam-viec-hieu-qua-hon-threadripper-3990x-va-radeon-rx-6900xt"><span class="n-name"><span>Bộ đôi giúp những nhà sáng tạo làm việc hiểu quả hơn - Threadripper 3990X và Radeon RX 6900XT</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1039-15997-cpu-amd-ryzen-threadripper-3990x-30-ghz-45-ghz-64-cores-128-threads-str4-nc4.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/threadripper-3960x-vi-xu-ly-dinh-cao-cho-nhung-ung-dung-chuyen-sau"><span class="n-name"><span>Threadripper 3960X - Vi xử lý đỉnh cao cho những ứng dụng chuyên sâu</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/976.jpg);"></span></span></a></div></div></div></div><div class="owl-item active" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/top-cau-hinh-pc-theo-ngan-sach-2021"><span class="n-name"><span>Top cấu hình PC theo ngân sách 2021</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1034-top-cau-hinh-pc-2021-1.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc"><span class="n-name"><span>Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1075-nguyencongpc-show-room.jpg);"></span></span></a></div></div></div></div><div class="owl-item" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/chon-i3-gen-12-hay-i5-gen-10-thoi-diem-hien-tai"><span class="n-name"><span>Chọn i3 Gen 12 hay i5 Gen 10 thời điểm hiện tại ?!</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1071-7255e0fc764aba14e35b.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/xay-dung-cau-hinh-cung-nguyen-cong-pc"><span class="n-name"><span>Xây dựng cấu hình cùng Nguyễn Công PC</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1068-screenshot-from-2022-02-21-08-55-29.png);"></span></span></a></div></div></div></div><div class="owl-item" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/tu-van-mua-pc-cho-mua-nhap-hoc-back-to-school-2022"><span class="n-name"><span>Tư vấn mua PC cho mùa nhập học - Back to school 2022</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1067-74352082_2413083582343533_7750095961090686976_n.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/bai-tong-ket-danh-gia-ve-loat-cpu-intel-core-the-he-thu-12-cua-intel"><span class="n-name"><span>Đánh giá hiệu năng làm việc của INTEL 12TH - 10NM THỂ HIỆN SỨC MẠNH</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1061-pic_disp-php.jpeg);"></span></span></a></div></div></div></div><div class="owl-item" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/dell-u2422h-co-that-su-xung-dang-voi-gia-7-trieu-dong"><span class="n-name"><span>Dell U2422H có thật sự xứng đáng với giá 7 triệu đồng </span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1057-m--n-h--nh-dell.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/danh-gia-chi-tiet-amd-radeon-pro-w6600"><span class="n-name"><span>Đánh giá chi tiết AMD RADEON PRO W6600</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1046-pasted-image-0.png);"></span></span></a></div></div></div></div><div class="owl-item" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/bo-doi-giup-nhung-nha-sang-tao-lam-viec-hieu-qua-hon-threadripper-3990x-va-radeon-rx-6900xt"><span class="n-name"><span>Bộ đôi giúp những nhà sáng tạo làm việc hiểu quả hơn - Threadripper 3990X và Radeon RX 6900XT</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1039-15997-cpu-amd-ryzen-threadripper-3990x-30-ghz-45-ghz-64-cores-128-threads-str4-nc4.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/threadripper-3960x-vi-xu-ly-dinh-cao-cho-nhung-ung-dung-chuyen-sau"><span class="n-name"><span>Threadripper 3960X - Vi xử lý đỉnh cao cho những ứng dụng chuyên sâu</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/976.jpg);"></span></span></a></div></div></div></div><div class="owl-item cloned" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/top-cau-hinh-pc-theo-ngan-sach-2021"><span class="n-name"><span>Top cấu hình PC theo ngân sách 2021</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1034-top-cau-hinh-pc-2021-1.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc"><span class="n-name"><span>Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1075-nguyencongpc-show-room.jpg);"></span></span></a></div></div></div></div><div class="owl-item cloned" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/chon-i3-gen-12-hay-i5-gen-10-thoi-diem-hien-tai"><span class="n-name"><span>Chọn i3 Gen 12 hay i5 Gen 10 thời điểm hiện tại ?!</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1071-7255e0fc764aba14e35b.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/xay-dung-cau-hinh-cung-nguyen-cong-pc"><span class="n-name"><span>Xây dựng cấu hình cùng Nguyễn Công PC</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1068-screenshot-from-2022-02-21-08-55-29.png);"></span></span></a></div></div></div></div><div class="owl-item cloned" style="width: 1200px;"><div class="item"><div class="item-ct"><div class="item-container"><a href="/tu-van-mua-pc-cho-mua-nhap-hoc-back-to-school-2022"><span class="n-name"><span>Tư vấn mua PC cho mùa nhập học - Back to school 2022</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1067-74352082_2413083582343533_7750095961090686976_n.jpg);"></span></span></a></div></div><div class="item-ct"><div class="item-container"><a href="/bai-tong-ket-danh-gia-ve-loat-cpu-intel-core-the-he-thu-12-cua-intel"><span class="n-name"><span>Đánh giá hiệu năng làm việc của INTEL 12TH - 10NM THỂ HIỆN SỨC MẠNH</span></span><span class="thumb-container"><span class="n-bg" style="background: url(/media/news/1061-pic_disp-php.jpeg);"></span></span></a></div></div></div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></button></div><div class="owl-dots disabled"></div></div></div>
        </div>
      	<div class="clearfix"></div>
      	<div class="box-list-all-ar">
            <div class="row">
                <div class="col-md-8">
                    <div class="box-article-tech">
                        <h2 class="title-ar">Tin <span>công nghệ</span></h2>
                        <div class="article-list">
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/top-vga-dao-coin-tot-nhat-2021" class="n-img"><img class="lazy" data-src="/media/news/1051-geforce-rtx-3090.png" alt="Top VGA đào coin tốt nhất 2021"></a>
                                    <div class="n-info">
                                        <h5><a href="/top-vga-dao-coin-tot-nhat-2021" class="n-name line-clamp-2">Top VGA đào coin tốt nhất 2021</a></h5>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>03-01-2022, 11:08 am</span>
                                        <div class="n-sum line-clamp-2">Danh sách được chọn lọc dựa trên hiệu năng đào và mức độ tiêu thụ điện năng của card</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/top-cau-hinh-pc-theo-ngan-sach-2021" class="n-img"><img class="lazy" data-src="/media/news/1034-top-cau-hinh-pc-2021-1.jpg" alt="Top cấu hình PC theo ngân sách 2021"></a>
                                    <div class="n-info">
                                        <h5><a href="/top-cau-hinh-pc-theo-ngan-sach-2021" class="n-name line-clamp-2">Top cấu hình PC theo ngân sách 2021</a></h5>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>09-12-2021, 1:37 pm</span>
                                        <div class="n-sum line-clamp-2">Càng về cuối năm nhu cầu build PC đang lớn hơn bao giờ hết. Nắm được thị hiếu đó chúng tôi đã cho ra mắt rất nhiều cấu hình từ nhiều mức giá cho tới các nhà sản xuất khác nhau. Các bạn cùng xem nhé.</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc" class="n-img"><img class="lazy" data-src="/media/news/1075-nguyencongpc-show-room.jpg" alt="Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC"></a>
                                    <div class="n-info">
                                        <h5><a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc" class="n-name line-clamp-2">Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC</a></h5>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>02-03-2022, 4:53 pm</span>
                                        <div class="n-sum line-clamp-2"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/chon-i3-gen-12-hay-i5-gen-10-thoi-diem-hien-tai" class="n-img"><img class="lazy" data-src="/media/news/1071-7255e0fc764aba14e35b.jpg" alt="Chọn i3 Gen 12 hay i5 Gen 10 thời điểm hiện tại ?!"></a>
                                    <div class="n-info">
                                        <h5><a href="/chon-i3-gen-12-hay-i5-gen-10-thoi-diem-hien-tai" class="n-name line-clamp-2">Chọn i3 Gen 12 hay i5 Gen 10 thời điểm hiện tại ?!</a></h5>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>28-02-2022, 3:17 pm</span>
                                        <div class="n-sum line-clamp-2"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/xay-dung-cau-hinh-cung-nguyen-cong-pc" class="n-img"><img class="lazy" data-src="/media/news/1068-screenshot-from-2022-02-21-08-55-29.png" alt="Xây dựng cấu hình cùng Nguyễn Công PC"></a>
                                    <div class="n-info">
                                        <h5><a href="/xay-dung-cau-hinh-cung-nguyen-cong-pc" class="n-name line-clamp-2">Xây dựng cấu hình cùng Nguyễn Công PC</a></h5>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>21-02-2022, 9:02 am</span>
                                        <div class="n-sum line-clamp-2">Giới thiệu về công cụ build PC của Nguyễn Công PC

Bài viết ngày hôm nãy sẽ là bài viết cung cấp thông tin về cách xây dựng cấu hình trên website của Nguyễn Công PC.

Giao diện chính của công cụ build PC</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/tu-van-mua-pc-cho-mua-nhap-hoc-back-to-school-2022" class="n-img"><img class="lazy" data-src="/media/news/1067-74352082_2413083582343533_7750095961090686976_n.jpg" alt="Tư vấn mua PC cho mùa nhập học - Back to school 2022"></a>
                                    <div class="n-info">
                                        <h5><a href="/tu-van-mua-pc-cho-mua-nhap-hoc-back-to-school-2022" class="n-name line-clamp-2">Tư vấn mua PC cho mùa nhập học - Back to school 2022</a></h5>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>19-02-2022, 5:09 pm</span>
                                        <div class="n-sum line-clamp-2"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="n-vm-all">
                            <a href="/tin-cong-nghe"><span>Xem thêm</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-artice-hot" id="js-box-artice-hot">
                      <h3 class="title-ar">Tin <span>nổi bật</span></h3>
                        <div class="article-list" id="js-box-artice-hot-list">
                            
                        </div>
                    </div>
                    <div class="box-artice-guide">
                        <h4 class="title-ar">Hướng <span>Dẫn</span></h4>
                        <div class="article-list">
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/top-vga-dao-coin-tot-nhat-2021" class="n-img"><img class="lazy" data-src="/media/news/1051-geforce-rtx-3090.png" alt="Top VGA đào coin tốt nhất 2021"></a>
                                    <div class="n-info">
                                        <a href="/top-vga-dao-coin-tot-nhat-2021" class="n-name line-clamp-2">Top VGA đào coin tốt nhất 2021</a>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>03-01-2022, 11:08 am</span>
                                        <div class="n-sum line-clamp-2">Danh sách được chọn lọc dựa trên hiệu năng đào và mức độ tiêu thụ điện năng của card</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/top-cau-hinh-pc-theo-ngan-sach-2021" class="n-img"><img class="lazy" data-src="/media/news/1034-top-cau-hinh-pc-2021-1.jpg" alt="Top cấu hình PC theo ngân sách 2021"></a>
                                    <div class="n-info">
                                        <a href="/top-cau-hinh-pc-theo-ngan-sach-2021" class="n-name line-clamp-2">Top cấu hình PC theo ngân sách 2021</a>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>09-12-2021, 1:37 pm</span>
                                        <div class="n-sum line-clamp-2">Càng về cuối năm nhu cầu build PC đang lớn hơn bao giờ hết. Nắm được thị hiếu đó chúng tôi đã cho ra mắt rất nhiều cấu hình từ nhiều mức giá cho tới các nhà sản xuất khác nhau. Các bạn cùng xem nhé.</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc" class="n-img"><img class="lazy" data-src="/media/news/1075-nguyencongpc-show-room.jpg" alt="Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC"></a>
                                    <div class="n-info">
                                        <a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc" class="n-name line-clamp-2">Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC</a>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>02-03-2022, 4:53 pm</span>
                                        <div class="n-sum line-clamp-2"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="n-container">
                                    <a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc" class="n-img"><img class="lazy" data-src="/media/news/1075-nguyencongpc-show-room.jpg" alt="Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC"></a>
                                    <div class="n-info">
                                        <a href="/mua-laptop-tra-gop-tai-nguyen-cong-pc" class="n-name line-clamp-2">Hướng dẫn mua Laptop trả góp tại Nguyễn Công PC</a>
                                        <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>02-03-2022, 4:53 pm</span>
                                        <div class="n-sum line-clamp-2"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="n-vm-all">
                            <a href="/tin-tuc-huong-dan"><span>Xem thêm</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
      	<div class="box-artice-promotion">
            <h4 class="title-ar">Tin <span>Khuyến mãi</span></h4>
            <div class="article-list">
                
                <div class="item">
                    <div class="n-container">
                        <a href="/xa-lo-khai-xuan-ngap-tran-deal-shock" class="n-img"><img class="lazy" data-src="/media/news/1053-x----l----khai-xu--n-file-1.jpg" alt="XẢ LỖ KHAI XUÂN - NGẬP TRÀN DEAL SHOCK "></a>
                        <div class="n-info">
                            <a href="/xa-lo-khai-xuan-ngap-tran-deal-shock" class="n-name line-clamp-2">XẢ LỖ KHAI XUÂN - NGẬP TRÀN DEAL SHOCK </a>
                            <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>08-02-2022, 4:26 pm</span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="n-container">
                        <a href="/don-giang-sinh-rinh-qua-khung-cung-amd" class="n-img"><img class="lazy" data-src="/media/news/1038-26b325a1889842c61b89.jpg" alt="ĐÓN GIÁNG SINH - RINH QUÀ KHỦNG CÙNG AMD"></a>
                        <div class="n-info">
                            <a href="/don-giang-sinh-rinh-qua-khung-cung-amd" class="n-name line-clamp-2">ĐÓN GIÁNG SINH - RINH QUÀ KHỦNG CÙNG AMD</a>
                            <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>24-12-2021, 2:31 pm</span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="n-container">
                        <a href="/top-cau-hinh-pc-theo-ngan-sach-2021" class="n-img"><img class="lazy" data-src="/media/news/1034-top-cau-hinh-pc-2021-1.jpg" alt="Top cấu hình PC theo ngân sách 2021"></a>
                        <div class="n-info">
                            <a href="/top-cau-hinh-pc-theo-ngan-sach-2021" class="n-name line-clamp-2">Top cấu hình PC theo ngân sách 2021</a>
                            <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>09-12-2021, 1:37 pm</span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="n-container">
                        <a href="/sieu-sale-cuoi-nam-build-pc-giam-tien-mat" class="n-img"><img class="lazy" data-src="/media/news/1036-sieu-sale-cuoi-nam-file.png" alt="SIÊU SALE CUỐI NĂM - BUILD PC GIẢM TIỀN MẶT"></a>
                        <div class="n-info">
                            <a href="/sieu-sale-cuoi-nam-build-pc-giam-tien-mat" class="n-name line-clamp-2">SIÊU SALE CUỐI NĂM - BUILD PC GIẢM TIỀN MẶT</a>
                            <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>14-12-2021, 2:53 pm</span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="n-container">
                        <a href="/chuong-trinh-khuyen-mai-rog-zephyrus-g14-aw-se-join-the-republic-join-the-walkers" class="n-img"><img class="lazy" data-src="/media/news/992.jpg" alt="CHƯƠNG TRÌNH KHUYẾN MÃI ROG ZEPHYRUS G14 AW SE JOIN THE REPUBLIC. JOIN THE WALKERS"></a>
                        <div class="n-info">
                            <a href="/chuong-trinh-khuyen-mai-rog-zephyrus-g14-aw-se-join-the-republic-join-the-walkers" class="n-name line-clamp-2">CHƯƠNG TRÌNH KHUYẾN MÃI ROG ZEPHYRUS G14 AW SE JOIN THE REPUBLIC. JOIN THE WALKERS</a>
                            <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>01-10-2021, 10:48 am</span>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="n-container">
                        <a href="/rap-may-amd-nhan-qua-thich-me-ly" class="n-img"><img class="lazy" data-src="/media/news/1054-kmamd.jpg" alt="RÁP MÁY AMD, NHẬN QUÀ THÍCH MÊ LY"></a>
                        <div class="n-info">
                            <a href="/rap-may-amd-nhan-qua-thich-me-ly" class="n-name line-clamp-2">RÁP MÁY AMD, NHẬN QUÀ THÍCH MÊ LY</a>
                            <span class="n-time"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>14-02-2022, 10:53 am</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="n-vm-all">
                <a href="/tin-tuc-khuyen-mai"><span>Xem thêm</span></a>
            </div>
        </div>
    </div>
</section>
    </div>