
  <section class="link-url">
    <div class="container">
        <div class="link-url-content">
            <div class="menu-not-home">
    
            </div>
            <div class="breadcrumb">
                <ol  itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemtype="http://schema.org/Thing" itemprop="item" href="index.html">
                          <span itemprop="name">Trang chủ</span>
                        </a> <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemtype="http://schema.org/Thing" href="lien-he.html" itemprop="item">
                            <span itemprop="name">Liên hệ</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
  <section class="page-all-ct">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-1">
                <form method="post" enctype="multipart/form-data">
              <div class="form-group">
                  <label class="col-form-label">Họ tên*</label>
                  <div class="input-holder">
                      <input type="text" class="form-control"  name="contact_name" id="contact_name_detail">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-form-label">Email*</label>
                  <div class="input-holder">
                      <input type="text" class="form-control" name="contact_email" id="contact_email_detail">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-form-label">Điện thoại*</label>
                  <div class="input-holder">
                      <input type="text" class="form-control" name="contact_tel" id="contact_tel_detail">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-form-label">Thông tin liên hệ*</label>
                  <div class="input-holder">
                      <input type="text" class="form-control" name="contact_message" id="contact_message_detail">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-form-label"></label>
                  <div class="input-holder">
                      <button type="button" class="btn btn-primary text-16" onclick="return check_form_contact_detail();">Gửi liên hệ</button>
                  </div>
              </div>
              <input type="hidden" value="send" name="action" />
          </form>            
            </div>
        
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.1433733433432!2d105.84465011437757!3d20.986889194583462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac6a288b27f1%3A0x3bbeb62ba298aeee!2zMzc3LCAzNzkgVHLGsMahbmcgxJDhu4tuaCwgVMOibiBNYWksIEhvw6BuZyBNYWksIEjDoCBO4buZaSAxMDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1635493040226!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            
        </div>
    </div>
</section>
 
  <script>
        

    <% if (errorValidate) { %>
      const err = '<%= errorValidate %>';
      $.notify("<%= errorValidate %>", 'danger');
    <%}%>
    
    <% if (successAlert) { %>
      const err = '<%= successAlert %>';
      $.notify("<%= successAlert %>", 'success');
    <%}%>

</script>