<section class="link-url">
  <div class="container">
      <div class="link-url-content">
          <div class="menu-not-home">
              
          </div>
          <div class="breadcrumb">
              <ol  itemscope itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                      <a itemprop="item" href="index.html">
                        <span itemprop="name">Trang chủ</span>
                      </a> <span class="bre-chia"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                      <meta itemprop="position" content="1">
                  </li>
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                      <a href="dang-nhap.html" itemprop="item">
                          <span itemprop="name">Đăng nhập</span>
                      </a>
                      <meta itemprop="position" content="2" />
                  </li>
              </ol>
          </div>
      </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="page-all-ct box-login">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <p id="login_title"><b>Thông tin khách hàng đăng nhập hệ thống</b></p>
              

              <input type="hidden" name="login" id="login" value="yes"/>
              <input type="hidden" id="return_url" name="return_url" value="/taikhoan">
              <table cellpadding="5" cellspacing="0" width="100%" shadow cor>
                  <tr>
                      <td>Email đăng nhập</td>
                      <td><input type="text" size="25" name="email" id="email" class="form-control"/></td>
                  </tr>

                  <tr>
                      <td>Mật khẩu</td>
                      <td><input type="password" size="25" name="password" id="password" class="form-control" /></td>
                  </tr>

                  <tr>
                      <td></td>
                      <td>
                          <div style="position: relative;">
                              <input type="button" onclick="check_login()" value="Đăng nhập" class="btn btn-primary"/>
                              <a href="quen-mat-khau.html">Quên mật khẩu ?</a>
                          </div>
                      </td>
                  </tr>
              </table>
              <div class="login_right">
                   <a rel='nofollow' href="https://accounts.google.com/o/oauth2/auth?response_type=code&amp;client_id=408142976534-3u0a0l8pj4b4268hos0fns1s3fhmt28j&amp;redirect_uri=https%3A%2F%2Fnguyencongpc.vn%2Foauth%2Fcallback.php&amp;scope=profile+email&amp;access_type=offline&amp;state=HA-F0BJHQLEGRZ84UXM1D2KIS7YTWVPACO9563N">
                      <div class="social-login-btn btn-google">
                         <div class="social-login-icon"><i class="fa fa-google"></i></div>
                         <div class="social-login-txt">Đăng nhập bằng Google</div>
                      </div>
                   </a>
                   <a rel='nofollow' href="https://www.facebook.com/dialog/oauth?response_type=code&amp;client_id=3922163311342035&amp;redirect_uri=https%3A%2F%2Fnguyencongpc.vn%2Foauth%2Fcallback.php&amp;scope=public_profile+email&amp;state=HA-BSH8YK3AN9QF71JPT5WICGZD0V6UERXM2O4L">
                      <div class="social-login-btn btn-facebook">
                         <div class="social-login-icon"><i class="fa fa-facebook-f"></i></div>
                         <div class="social-login-txt">Đăng nhập bằng Faceook</div>
                      </div>
                   </a>
                </div>
          </div><!--col6-->

          <div class="col-6">
              <p><b>Bạn chưa là thành viên ?</b></p>
              <p>Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.</p>
              <p><a title="Click đăng ký tài khoản miễn phí" href="dang-ky.html" class="bold"><b>Đăng ký tài khoản</b></a></p>
          </div><!--col6-->
      </div><!--row-->
  </div>
</section>
<script>
  <% if (errorValidate) { %>
    const err = '<%= errorValidate %>';
    $.notify("<%= errorValidate %>", 'danger');
  <%}%>
  
  <% if (successAlert) { %>
    const err = '<%= successAlert %>';
    $.notify("<%= successAlert %>", 'success');
  <%}%>

</script>