<div class="ps-page--default">
    <div class="container">
        <div class="ps-page__header">
            <h3>Wishlist</h3>
            <ul class="ps-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/">Wishlist</a></li>
                <li>Cart</li>
            </ul>
        </div>
        <div class="ps-page__content">
            <div class="ps-shopping-cart" id="cart-content">
                <div class="table-responsive">
                    <table class="table ps-table ps-table--shopping-cart">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá bán</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="wishList-list-main">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>